@charset "utf-8";


// Import a Google Font
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url("https://use.typekit.net/sld7eum.css");




// Globals
* {
  overflow: visible;
  box-sizing: content-box;
  font-family: noto-sans-extracondensed, sans-serif;
  font-weight: 400;
  font-style: normal;
}
.blogSubContainer p {
  font-size: 1.5rem;
}
.blogSubContainer h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 15px;
}
.blogSubContainer h2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 15px;

}
.blogSubContainer h3 {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 15px;
}
.blogSubContainer p {
  margin-bottom: 10px;
}
img.kg-image {
  display: block;
  margin: auto;
  width: 100%;
  margin: 25px 0;
}
.italic {
  font-style: italic;
}

.strong {
  font-weight: 700;
}

.markdown img {
  width: 80%;
  margin: auto;
  display: block;
}
 
interweave iframe {
  margin: auto;
  display: block;
 
}


 
// Set your brand colors
$purple: #8a4d76;
$pink: #fa7c91;
$brown: #757763;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;

// Update Bulma's global variables
$family-sans-serif: 'Noto Sans', sans-serif;
// $grey-dark: $brown;
// $grey-light: $beige-light;
$primary: rgba(0, 0, 0, 0);
// $link: $pink;
$danger: #9F66A9;
$warning: #F1F1F2;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
$card-radius: 500px !default;


// Import Bulma
@import '../node_modules/bulma/bulma.sass';

